<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyAL8oJXqQjvW76gRZFR3U62sai9AdPExH8</string>
	<key>GCM_SENDER_ID</key>
	<string>501303458165</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.tenaid.mobile.app.tenaidMobile</string>
	<key>PROJECT_ID</key>
	<string>tenaid-ba874</string>
	<key>STORAGE_BUCKET</key>
	<string>tenaid-ba874.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:501303458165:ios:a155583bc2c713d70f3b3c</string>
</dict>
</plist>